body {
  margin: auto;
  width: 60%;

}
.calendar-block {
  font-family: 'Montserrat', sans-serif;
  background: #dedede;
  height: auto;
  width: 100%;
  padding: 2px;
  display: grid;
  
}

.calendar-head {
  height: auto;
  width: calc(100% - 2px);
  background: white;
  margin: 1px;
}

.calendar-month {
  font-size: 24px;
  padding: 10px; 
  padding-bottom: 0;
}

.calendar-item {
  float: left;
  text-align: right;
  padding: 10px;
  
}


.calendar-day-name {
  width: calc(100% / 7 - 20px);
  position: relative;
}

.calendar-day {
  height: 60px;
  background: white;
  width: calc(100% / 7 - 22px);
  position: relative;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;

}

.calendar-day.holiday {
  background: #ededed;
  color: #8f8f8f;
}

.calendar-day-name.holiday {
  color: #b5b5b5;
}

.calendar-day.other-month {
  color: #b5b5b5;
}

/* DARK MODE ON */
.calendar-block.calendar-dark, .calendar-weekday-block.calendar-dark {
  background: black;
}

.calendar-head.calendar-dark {
  background: #4f4f4f;
}

.calendar-day.calendar-dark, .calendar-month.calendar-dark, .calendar-day-name.calendar-dark {
  background: #4f4f4f;
  color: #ededed;
}

.calendar-day.holiday.calendar-dark {
  background: #5e5e5e;
  color: #adadad;
}

.calendar-day.other-month.calendar-dark {
  color: #706f6f;
}

.calendar-day-name.holiday.calendar-dark {
  background: #4f4f4f;
  color: #ff4040;
}
/* DARK MODE OFF */

.calendar-holiday {
  font-size: 0.55em;
  border-radius: 5px;
  background: rgba(255, 135, 135, 0.6);
  padding: 1px 3px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.calendar-day.today span {
  background: #ff4040;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
}

#feast {
  border-radius: 5px;
  background: #fa8c8c;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
