.container {
  width: 900px;
  margin: auto;
  background: #afafaf;
  border: #000000 1px solid;
  padding: 5px;
  font-size: 25px;
  color: #000000;
}

.total-commander-name, .total-commander-name h2 {
  margin: 0;
  padding: 0;
  width: 100%;
}

.total-commander-header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}

/* .total-commander-locations{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  flex-basis: 50%;
} */

.location-field {
  background: #ffffff;
  border: #000000 1px solid;
  width: 425px;
}

.total-commander-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  flex-basis: 50%;
}

.total-commander-body .directory-content {
  background: #ffffff;
  border: #666666 1px solid;
  width: 425px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.total-commander-body span {
  float: right;
  color: #afafaf;
}

.total-commander-body .total-commander-item {
  margin: 2px;
  background: #ffffff;
}

.total-commander-body .total-commander-item.set {
  background: #62afe294;
}

.total-commander-item.folder {
  color: #1f50f3;
}