.container {
  width: 900px;
  margin: auto;
  background: #afafaf;
  border: #000000 1px solid;
  padding: 5px;
  font-size: 25px;
  color: #000000;
}

.tc-name h2 {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}

.container_header .location-field {
  background: #ffffff;
  border: #000000 1px solid;
  width: 425px;
}

.container_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  flex-basis: 50%;
}

.container_body .user-loc,
.root-loc {
  background: #ffffff;
  border: #666666 1px solid;
  width: 425px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container_body span {
  float: right;
  color: #afafaf;
}

.container_body .tc-items {
  margin: 2px;
  background: #ffffff;
}

.container_body .tc-items.set {
  background: #62afe294;
}

.tc-items.folder {
  color: #1f50f3;
}